h1 {
    font-size: 30px;
}
body {
    background-color: whitesmoke;
}
.square {
    height: 240px;
    width: 50px;
    background-color: #fbf9f9;
  }

footer {
    background-color: darkgray;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cornflowerblue;
    border-bottom: white solid;
    padding: 8px 8px;
    position: sticky;
    top: 0;
    overflow: clip;
    z-index: 12;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1; /* Use the rest of the available space of the <header> */
    align-items: center;
}

header img {
    width : 52px;
    height: auto;
    margin: auto;
}
nav a{
    padding: 16px;
    cursor: pointer;
    color: white;
}
nav a:hover{
    background-color: white;
    color: cornflowerblue; 
}

article {
    color: black;
    background: cornflowerblue;
    padding: 30px;
    margin-top: -30%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
table, th, td {
    text-decoration: none;
    border: 0.5px solid #000000;
    text-align: left;
   }  

div {
    padding: 20px;
    margin: auto;
    background-color: white;
    color: black;
}

div h1, div p, div .Tagline {
    color: black;
}
.Tagline {
    font-style: italic;
    font-size: 20px;
}
section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white; 
    margin-bottom: 20px;
}

.LeftAlignDiv, .RightAlignDiv {
    width: 45%;
    padding: 20px;
}

.LeftAlignDiv img, .RightAlignDiv img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}
.johntalkvalta img {
    display: block;
    height: 400px;
    width: 400px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

footer section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray; 
    margin-top: 20px;
    
}
.ContactInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    text-align: left;
    color: #FFFFFF;
    background-color: darkgray;
}
.ContactInfo div {
    min-width: 220px;
    flex-grow: 1;
    background-color: darkgray;
}

.TailLine {
    background-color: black;
}
.TailLine p {
    color: white;
}