* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #fafafa;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #6A89A7;
}

.section-container {
    margin: auto;
    width: 95%;
    overflow: hidden; 
}

/* NAV STYLE */

header {
    background: #384959;
    color: #fafafa;
    padding-top: 40px;
    border-bottom: #fafafa 2px solid;
    padding-bottom: 40px;
}

header a {
    color: #fafafa;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
}

header img {
    max-width: 5%;
    height: auto;
    float: left;
    padding-right: 20px;
    padding: 0;
    margin: 0;
}

header #logo-text h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-decoration: none;
    color: #fafafa;
    text-transform: uppercase;
    float: left;
    padding-top: 20px;
    padding-left: 2%;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
}

header nav {
    float: right;
}

li a:hover {
    color: #FFD700;
    transition: 0.15s ease-in;
}

/***********************************************/
/* apply page css */

.apply-page {
    max-width: 800px;
    margin: 50px auto; 
    padding-bottom: 20px;
    background: #384959;
    border-radius: 10px;
    box-shadow: 0 5px 5px black;
}

.apply-main {
    padding-left: 40px;
}

.apply-header {
    padding-top: 1px;
    padding-bottom: 10px;
}

.apply-header h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-decoration: none;
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 20px;
    padding-left: 2%;
}

.apply-h1 {
    padding-top: 30px;
    text-align: center;
    color: #fafafa;
}

.apply-hr {
    border: none;
    height: 2px;
    background-color: #6a89a7;
}

.apply-input {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #fafafa;
    color: #0b2e33;
    accent-color: #FFD700;
}


.apply-input::placeholder {
    color: black
}

.gender-input {
    margin-right: 5px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #fafafa;
    color: #0b2e33;
    accent-color: #FFD700;
}

.gender-label {
    font-weight: bold;
    margin-right: 100px;
}

.apply-gender{
    width: 0px;
    padding: 0px;
    font-size: 0px;
}

.tech-input {
    font-size: 16px;
    border-radius: 3px;
    background-color: #fafafa;
    color: #0b2e33;
    accent-color: #FFD700;
}

.tech-label {
    font-weight: bold;
    margin-right: 79px;
}

/* ------------------------------------------------------- */
.apply-row {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.input-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-name input {
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

.input-name label {
    margin-bottom: 2px;
    margin-top: 4px;
    font-size: 14px;
    color: lightgray;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group input {
    width: 200px;
    padding: 8px;
    font-size: 16px;
}

.input-group label {
    margin-top: 4px;
}

/* ----------------------------------------------------------- */

.apply-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fafafa;
    font-weight: bold;
    color: black;
}

.button-container {
    display: flex;
    padding-left: 34%;
    gap: 10px;
}

.apply-button:hover {
    background-color: #FFD700;
    transition: ease-in 0.15s;
    cursor: pointer;
    
}

.apply-label {
    font-weight: bold;
    padding-bottom: 10px;
    display: block;
}

.apply-fieldset {
    width: 94%;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: bold;
}

#other-skills {
    resize: none;
    width: 94%;
    height: 100px;
}

/* ******************************** */
/* footer css */


footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: black;
}