* {
    color: white;
}

body {
    background-color: whitesmoke;
}

footer {
    background-color: gray;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cornflowerblue;
    border-bottom: solid;
    padding: 8px 8px;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1; /* Use the rest of the available space of the <header> */
    align-items: center;
}

header img {
    width : 52px;
    height: auto;
    margin: auto;
}
nav a{
    padding: 16px;
}
nav a:hover{
    background-color: white;
    color: cornflowerblue; 
}
.ImageBoxOverlay {
    position: relative;
    text-align: center;
    color: white;
}
.TextOverlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: cornflowerblue;
}
#CorperateGarbage {
    width: 100%;
}

section {
    background: cornflowerblue;
    padding: 30px;
    margin-top: -30%;
    z-index: 2;
    position: relative;
}

div {
    padding: 20px;
    margin: auto;
    background-color: white;
    color: black;
}