* {
    color: #210203;
}

body {
    background-color: #6D98BA;
}

footer {
    background-color: #210203;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #C17767;
    border-bottom: solid;
    padding: 8px 8px;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1; /* Use the rest of the available space of the <header> */
    align-items: center;
}

header img {
    width : 52px;
    height: auto;
    margin: auto;
}
nav a{
    padding: 16px;
    background-color: #C17767;
    border-bottom: 2px solid transparent;
    color: #210203;
}
nav a:hover{
    background-color: #210203;
    color: #C17767;
}
.ImageBoxOverlay {
    position: relative;
    text-align: center;
    color: white;
}
.TextOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(184,134,11,0.5);
}
#CorperateGarbage {
    width: 80%;
}